<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abiut Us</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- backgroundimage div -->
    <div id="backgroundimage">

        <body>

            <!-- header -->
            <header>
                <!-- header inner -->
                <nav class="navbar sidebar">
                    <div class="header">
                        <div class="logo">
                            <img src="Images/Automotive-Studio-logo.png" alt="">
                            <!-- <h2 id="logotitle">Automotive Studio</h2> -->
                            <!-- <h5 id="slogan">WHERE PERFORMANCE MEETS PRECISION</h5> -->
                        </div>
                    </div>
                    <ul id="startedul">
                        <div class="menu">
                            <!-- USING CHECKBOX HACK -->
                            <!-- <input type="checkbox" name="" id="checkbox_toggle">
                        <label for="checkbox_toggle" class="hamburger">&#9776</label> -->
                            <!-- nav bar menus -->
                            <li><a class='navmenus' href="index.ejs">HOME</a></li>
                            <li><a class='navmenus' href="Profile.html">PROFILE</a></li>
                            <li><a class='navmenus' href="admin.ejs">DASHBOARD</a></li>
                            <li><a class='navmenus' href="Cars.html">CARS</a></li>
                            <li><a class='navmenus' href="Feedback.html">FEEDBACK</a></li>
                            <li><a class='navmenus' href="Report.html">REPORT</a></li>
                            <li><a class='navmenus' href="Aboutus.ejs">ABOUT US</a></li>
                            <!-- end nav bar menus -->

                        </div>

                    </ul>
                </nav>
                <!-- end header inner -->


            </header>

            <!-- end header -->

            <!-- body section  -->
            <section class="main">
                <h2>About us here...</h2>
            </section>
            <!--end body section  -->

            <!-- another body section  -->
            <section>

            </section>
            <!-- end another body section  -->
        </body>
    </div>
    <!-- end backgroundimage div -->
</body>

</html>