<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/Images/favicon.ico" type="image/x-icon">
</head>
<!-- backgroundimage div -->
<div id="backgroundimage">

    <body>
        <!-- header -->
        <header>
            <!-- header inner -->
            <div class="header">
                <div class="logo">
                    <img style="width: 100px;" src="Images/logo.png" alt="">
                    <!-- <h2 id="logotitle">Automotive Studio</h2> -->
                    <!-- <h5 id="slogan">WHERE PERFORMANCE MEETS PRECISION</h5> -->
                </div>
            </div>
        </header>
        <!-- end header inner -->
        <!-- end header -->

        <!-- body section  -->
        <section>
            <div class="container scenter">
                <form action="">
                    <div class="loginsection">
                        <div class="entrysection">
                            <input type="text" name="myNameID" id="NameID" placeholder="Enter your Name">
                        </div>
                        <div class="entrysection">
                            <input type="text" name="myEmailID" id="EmailID" placeholder="Enter your Email ID">
                        </div>
                        <div class="entrysection">
                            <input type="password" name="myPasswordID" id="Password" id="Password" placeholder="Password">
                        </div>
                        <div class="entrysection">
                            <input type="password" name="myCPasswordID" id="CPassword" id="CPassword" placeholder="Confirm Password">
                        </div>
                        <div>
                            <div>
                                <button class="initialbtn" type="submit" value="signup button">
                                    <a href='index.html'>SIGN UP</a>
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </section>
        <!--end body section  -->

        <!-- signup section  -->
        <section>
            <div class="centersignup">
                <pre>Have an account? <a href="login.html">LOGIN IN</a></pre>
            </div>
        </section>
        <!-- end signup section  -->
    </body>
</div>
<!-- end backgroundimage div -->

</html>